/* 基本样式 */
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* footer样式 */
footer{
    height: 320px;
    margin: 0 auto 0;
    background: #535252;
}
.center,.foot .f-center div{
    width: 80%;
    margin: 0 auto;
    padding:  5px 20px;
}
.foot .f-center{
    background: #4b4949;
}

.center .upper>div{
    width: 100%;
    display: flex;
    position: relative;
}
.center .upper .left{
    display: flex;
}
.center .upper .left div{
    margin-right: 60px;
}
.upper .left div .bold{
    font-weight: bold;
    color: white;
}
.upper .left div li{
    color: gray;
}
.center .upper div .right div{
    position: absolute;
    right: 0;
}
.upper .right div img{
    width: 30px;
    height: 30px;
    padding: 0 6px;
}
.upper .right div .qr{
    display: none;
}
.upper .right div .img1:hover>.qr{
    display: block;
}
.upper .right div .qr img{
    width: 80px;
    height: 80px;
}

.foot div p{
    color: gray;
    font-size: 12px;
}
